
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact us</h1>

<div class="contactUs">

 
   
    <h4>•  Email us if you have any questions or suggestions at: <img src="~/Images/email.png"  width="150px" alt="email.png" style="float:right"></h4>
    <h5>TheLovinOven@student.rtc.edu</h5>
    <a class="btn-bgstroke" href="mailto:TheLovinOven@student.rtc.edu?subject=Customer Question">Email Us</a>
    
    <hr>
    
    <h4>•  You can also call us with any questions at:<img src="~/Images/call.png" alt="call.png" width="150px" height="150px"  style="float:right"></h4>
    <h5>+1 (253) 123 1234</h5>
    <a class="btn-bgstroke" href="tel:+1 (253) 123 1234">Call us</a>
    <hr>

    
    <h4>•  You can also leave us review on our Google listing:<img src="~/Images/google review.png" alt="review.png"  width="150px" style="float:right"></h4>
    <h4>    <a class="btn-bgstroke" href="https://search.google.com/local/writereview?placeid=ChIJ70JUxQpokFQRRI8H3ZVj9Tk">Rate Us</a></h4>
 </div>
