@{
    ViewData["Title"] = "Home Page";
}



<div class="divSplit">

    <h1 class="display-4">Welcome to our Bakery!</h1>
</div>
<aside>
    <p>Check out our menu of delicious baked goods <a href="/Home/OverviewMenu">here!</a></p>
    <p>Check out our wonderfulbakery locations <a href="/Home/locations">here!</a></p>
    <p><a href="/Home/OurMission">Learn more about us and our mission!</a></p>
</aside>

<div class="text-left">
    <h3>Bakery & Site News</h3>
    <p>- We've fleshed out our pages with up-to-date information.</p>
    <p>- Added Pictures and photos of your wonderful staff food, and locations.</p>
    <p>- New login and account authentication system, authorization planned next!</p>
    <p>- Redone backend database with improved CRUD implementation.</p>
    <p>- Spruced up CSS.</p>
    <img src="~/Images/zucchini_bread2.jpg" alt="why" width="500" height="600">
</div>
