@{
    ViewData["Title"] = "Home Page";
}



<div class="divSplit">

    <h1 class="display-4">Welcome to our Bakery!</h1>
    <div class= "div1"> <p>Check out our menu <a href="/MenuItems/Index">here!</a></p></div>
    
  <div class= "div2"> <p>Check out our locations <a href="/Home/locations">here!</a></p></div>  
   <div class= "div3"><p><a href="/Home/OurMission">Learn more about us and our mission!</a></p> </div> 

</div>
