@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Locations";
}

<section id="pageBanner">
    <div id="pagebannerWrapper"></div>
    <img class="pageBannerImage" src="https://bakerynouveau.com/wp-content/uploads/2015/11/about_detail.jpg" />



</section>


<h1>Our Location:</h1>
<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/view?zoom=17&center=47.4893,-122.1758&key=AIzaSyAwpmtz8VAvxSN233FUI16H5X-r1QaMpaA"></iframe>
