

@{
    ViewData["Title"] = "OurMission";
}

<h1>Our Mission</h1>

<h5>Serving the greater Seattle area with excellence.</h5>
<aside>
    <img src="" alt="Scenic Bakery">
    <br />
    <br />
    <br />
    <img src="" alt="Delicious Food">
    <br />
    <br />
    <br />
    <img src="" alt="Happy Workers">
    <br />
    <br />
    <br />
</aside>
<p>
    It is our mission to give every seattlite the choice of eating healthily and ethically without sacrificing quality or flavor. 
    We offer vegan and vegitarian products baked with love and care that we garuntee with meet your high standards. We only use high quality and ethically sourced 
    ingredients so that you can keep both your body and consience healthy.
</p>

<h5>Meet our workers!</h5>
<table>

</table>




