@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The only data we have is the login info which is handled automatically, it might use cookies? Anyway we aren't going to steal your data.</p>
