/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);


/* Displays div elements in line */
.form-container {
    display: inline;
}

/*This is for the  BRAND LOGO */
a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    margin-top: 0px;
    margin-bottom:0px;
}

/* Provide sufficient contrast against white background 
   this is for every link background
*/
a {
    color: white;
}
a:hover{
    color:hotpink;
}


/*this is for the BUTTONS you can edit the background */
.btn-primary {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #000000;
   /* background: url(Images/beautiful-sweets-macaron.jpg);
    background-size: cover;*/
}




.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
   

}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
 
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 20px;


}











body {
    /* Margin bottom by footer height */
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
    background-color: lightcoral;
    background-size:cover;
    font-weight: 500;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


div {
    display: block;
}


/*controls the div which holds our image*/
.ourStory {

    border-radius: 20px;
    border: 5px dashed white;
    /* background-image:url(../Images/cakes.jpg);*/
    background-position: center;
    position: relative;
    left: 0px;
    top: 10px;
    max-height: 590px;
    overflow: hidden;
    margin-bottom: 55px;
}

/*Controls the our story content table*/
.osContent {
    position: absolute;
    left: 27%;
    top: 0;
    margin:0;
    padding: 30px 40px 0px 30px;
    width: 490px;
    height: 590px;
    box-sizing: border-box;
    text-align: center;
    background-color: burlywood;

    

}

h2 {
    font-size: 126px;
    font-family:  'Palace Script MT', cursive;
    font-weight:500;
    line-height: 60px;
    color: darkgoldenrod;
    margin-bottom: 5px;
    
}

h3 {
    font-size: 66px;
    line-height: 70px;
    color: #614936;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
   /* background: url(../images/lines.png) left bottom repeat-x;*/
    display: inline-block;
    padding-bottom: 0;
}



/*BANNER DIV & BUTTONS*/
h1,
p,
a {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    
}

h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 800;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 5px;
}

.banner {
    box-shadow: 5px 5px 8px #ff0080, 10px 10px 8px #ffffff, 15px 15px 8px dodgerblue;
    margin: 20px;
    /*  box-shadow: 20px 20px 50px 10px white inset;*/
    border-radius: 20px;
    width: 100%;
    padding: 60px 0;
    font-size: 50px;
    text-align:center;
   text-shadow: 5px 5px 5px #C71585;
    color: white;
    font-weight: 300;
    margin-bottom: 25px;
    background-image: url('../Images/mini treats.jpg');
    background-repeat: no-repeat;
    /*  background-attachment:fixed;*/
    background-position: center;
    /*    height: 200px;
    width: 1200px;*/
}
.banner2 {
    /*box-shadow: 20px 20px 50px 10px white inset;*/
    border-radius: 50px;
    /*border: 3px dotted white;*/
    width: 100%;
    padding: 20px 10px 10px 10px;
    text-align: center;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    /*background-image: url('../Images/mini treats.jpg');
    background-repeat: no-repeat;*/
    /*  background-attachment:fixed;*/
    /*    background-position: center;*/
    /*    height: 200px;
    width: 1200px;*/
}

.btn-bgstroke {
    font-size: 20px;
    display: inline-block;
    border: 3px ridge white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom:0px;
}

    .btn-bgstroke:hover {
        background-color: white;
        color: #33cccc;
    }



img #navbar-brand {
 /*       height: auto;
    width: auto;*/
    /* max-height: 72px;*/
    /*  max-width: 250px;*/
    padding: 0px 0px 0px 0px;
    max-width: 10%;
    max-height: 10%;
    margin-left: auto;
    display: block;
}




/*.divSplit{
    display:inline;
    text-align:center;
    position:center;

}
.div1, .div2, .div3 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 105px;
    float: none;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
    align-items: center;
    color: black;
    text-shadow: 2px 2px 5px white;
    text-align:right
}

.div1 {
    background: url(Images/bakerywindow.jpg);
    background-position: center;
    background-size: cover;
}

.div2 {
    background: url(Images/bakerflour.jpg);
    background-position: center;
    background-size:cover
}

.div3 {
    background: url(Images/macarons-stack.jpg);
    background-position: center;
    background-size: cover;
}*/





aside{
    width: 30%;
    float: right;
    padding-left: 30px;
}
td,
th {
    border: 1px solid #000000;
    padding: 10px;
}
table {
    border: 7px solid rgb(200, 200, 200);
}

.contactUs {
    letter-spacing: 2px;
    font-family: 'Lato';
    color: #614936;
}

